@model Open_School_Library.Models.Dewey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dewey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Dewey Decimal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeweyNumber)
        </dd>

        <dt>
            Class
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeweyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeweyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
