@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Controller List</h1>
    <p class="lead">Below is a list of the current controllers for easy access during development.</p>
</div>

<div>
    <ul>
        <li><a href="~/Books">Books</a></li>
        <li><a href="~/Students">Studnets</a></li>
        <li><a href="~/Genres">Genres</a></li>
        <li><a href="~/Deweys">Deweys</a></li>
    </ul>
</div>