USE [master]
GO
/****** Object:  Database [OpenSchoolLibraryDB]    Script Date: 5/9/2016 7:08:51 PM ******/
CREATE DATABASE [OpenSchoolLibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OpenSchoolLibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\OpenSchoolLibraryDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OpenSchoolLibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\OpenSchoolLibraryDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OpenSchoolLibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OpenSchoolLibraryDB]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 5/9/2016 7:08:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL CONSTRAINT [DF_Books_Title]  DEFAULT (''),
	[Subtitle] [varchar](100) NULL,
	[Author] [varchar](100) NOT NULL,
	[Genre] [int] NOT NULL,
	[ISBN] [int] NOT NULL,
	[Dewey] [int] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BookLoan]    Script Date: 5/9/2016 7:08:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookLoan](
	[BookLoanID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[CheckedOutWhen] [date] NOT NULL,
	[DueWhen] [date] NOT NULL,
	[ReturnedWhen] [date] NULL,
 CONSTRAINT [PK_book_lonas] PRIMARY KEY CLUSTERED 
(
	[BookLoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dewey]    Script Date: 5/9/2016 7:08:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dewey](
	[DeweyID] [int] IDENTITY(1,1) NOT NULL,
	[DeweyNumber] [float] NOT NULL,
	[DeweyName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Dewey] PRIMARY KEY CLUSTERED 
(
	[DeweyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 5/9/2016 7:08:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OSL_Settings]    Script Date: 5/9/2016 7:08:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OSL_Settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FinesAmount] [money] NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/9/2016 7:08:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL CONSTRAINT [DF_Students_FirstName]  DEFAULT (''),
	[LastName] [varchar](100) NOT NULL CONSTRAINT [DF_Students_LastName]  DEFAULT (''),
	[Grade] [int] NOT NULL CONSTRAINT [DF_Students_Grade]  DEFAULT ((0)),
	[Fines] [money] NULL,
	[IssuedID] [int] NULL,
	[StudentEmail] [varchar](100) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Books_Dewey] FOREIGN KEY([Dewey])
REFERENCES [dbo].[Dewey] ([DeweyID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Books_Dewey]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Books_Genres] FOREIGN KEY([Genre])
REFERENCES [dbo].[Genre] ([GenreID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Books_Genres]
GO
ALTER TABLE [dbo].[BookLoan]  WITH CHECK ADD  CONSTRAINT [FK_BookLoan_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BookLoan] CHECK CONSTRAINT [FK_BookLoan_Book]
GO
ALTER TABLE [dbo].[BookLoan]  WITH CHECK ADD  CONSTRAINT [FK_BookLoan_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[BookLoan] CHECK CONSTRAINT [FK_BookLoan_Student]
GO
USE [master]
GO
